* {
    margin: 0;
    padding: 0;
  }

body {
  background-color: lightblue;
  }
    header {
        background-color: blue;
    } 
        div div ul li:hover {
            height: 10px;    
        } 
    footer {
        background-color: red;
    }



